<!Doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <title>home</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Varela+Round">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
        <link href="home.css" rel="stylesheet">
        <script src="home.js"></script>
        <script type="text/javascript">
          (function(d, m){
              var kommunicateSettings = 
                  {"appId":"843255564177dce099ce951113c8e2d5","popupWidget":true,"automaticChatOpenOnNavigation":true};
              var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
              s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
              var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
              window.kommunicate = m; m._globals = kommunicateSettings;
          })(document, window.kommunicate || {});
      /* NOTE : Use web server to view HTML files as real-time update will not work if you directly open the HTML file in the browser. */
      </script>
</head>
<body>
    
  <section id="home">
        <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
</button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-header">
                <i><a class="navbar-brand" href="#"><i class="fa fa-leaf" aria-hidden="true"><b></i>AGRI-ASSISTANT</i></b></a>
              </div>
            <ul class="nav navbar-nav">
        
</ul>

<ul class="nav navbar-nav navbar-right">
    <li class="nav-item ">
    <h4><a class="nav-link" href="#home"><b><i class="fa fa-home" aria-hidden="true"> </i> HOME </b> 
   </a></h4>
    </li>

    <li class="nav-item ">
    <h4><a class="nav-link" href="#about"><b><i class="fa fa-address-card" aria-hidden="true"></i>  ABOUT </b> 
    </a></h4>
    </li>

    <li class="nav-item ">
    <h4><a class="nav-link" href="#"><b><i class="fa fa-question-circle" aria-hidden="true"></i>  FAQ </b> 
    </a></h4>
    </li>

    <li class="nav-item ">
    <h4><a class="nav-link" href="#contact"><b><i class="fa fa-phone" aria-hidden="true"></i>  CONTACT </b>
    </a></h4>
    </li>  
    
    <li class="nav-item">
    <h4><a class="nav-link" href="C:\Users\lenovo\AppData\Local\Programs\Python\Python310\Tomato_Leaf_Disease_Prediction\templates\Signup\index.html"><b><i class="fa fa-sign-in" aria-hidden="true"></i>  REGISTER </b>
    </a></h4>
    </li>    
</ul>
</div>
</nav>

<!--carousel-->

        <div class="carousel slide" id="main-carousel" data-ride="carousel" >
	    <ol class="carousel-indicators">
		<li data-target="#main-carousel" data-slide-to="0" class="active"></li>
		<li data-target="#main-carousel" data-slide-to="1"></li>
        <li data-target="#main-carousel" data-slide-to="2"></li>
</ol>
<!-- /.carousel-indicators -->
		<div class="carousel-inner carousel-fade">
		<div class="carousel-item active">
		<img class="w-100 h-5" src="images/img1/ki1.png" alt="">
</div>
		<div class="carousel-item">
		<img class="w-100 h-5" src="images/img1/farm.jpg" alt="">
</div>
        <div class="carousel-item">
		<img class="w-100 h-5" src="images/img1/farm1.jpg" alt="">
</div>
        <div class="carousel-item">
		<img class="w-100 h-5" src="images/img1/ki4.jpg" alt="">
</div>
</div>
<!-- /.carousel-inner -->
		<a href="#main-carousel" class="carousel-control-prev" data-slide="prev">
		<span class="carousel-control-prev-icon"></span>
		<span class="sr-only" aria-hidden="true">Prev</span>
</a>
		<a href="#main-carousel" class="carousel-control-next" data-slide="next">
		<span class="carousel-control-next-icon"></span>
		<span class="sr-only" aria-hidden="true">Next</span>
</a>
</div>
</section>
<!-- /.carousel -->


<section class="about-us" id="about">
  <div class="about">
    <!--<img src="girl.png" class="pic">-->
      <div class="text">
      <h2>About Us</h2>
        <p>Welcome to the Agri Assistance Project! We are a dedicated
          team of agricultural enthusiasts passionate about supporting 
          farmers and improving crop health. Our advanced disease prediction
           technology helps farmers identify and combat potential threats early on.
         Our platform doesn't stop at disease prediction – we foster a strong sense
          of community by connecting farmers with one another through our interactive
           Community page. Share experiences, seek advice, and collaborate for better yields.
         Additionally, we've created a Marketplace page where farmers can access essential 
         agricultural supplies, equipment, and services. Together, we strive to revolutionize
          farming practices and enhance the agricultural landscape. Join us on this exciting 
          journey towards sustainable and prosperous agriculture.</p>
      </div>
    </div>
  </section>


<br>
<br>

<center><h2>Related To App</h2></center><br><br>
<div class="row row-cols-3 g-4" style="margin-right:60px">
    <div class="col">
  <div class="card">
    <img src="images/img1/marketplace.jpeg" class="card-img-top" alt="Palm Springs Road" height="175">
        <div class="card-body">
          <h3 class="card-title">Marketplace</h3>
            <p class="card-text">
              A marketplace is a platform that connects buyers and sellers, allowing them to conduct transactions for goods or services. These platforms facilitate trade and often provide features such as product listings, payment processing, customer reviews, and seller ratings.
           </p>
              
        </div>
   </div>
</div>

<div class="col">
  <div class="card">
     <img src="images/img1/community.jpg" class="card-img-top" alt="Hollywood Sign on The Hill" height="160">
         <h3 class="card-title">Community</h3>
           <p class="card-text">
             AgriAssistant is committed to fostering strong relationships within the agricultural community. We actively engage with farmers, agricultural organizations, and stakeholders to understand their needs and challenges. Through regular workshops, outreach programs, and collaborative initiatives, we aim to support sustainable farming practices and contribute to the growth of the agricultural sector.
           </p>
               
         </div>
    </div>
<div class="col">
  <div class="card">
    <img src="images/img1/Disese pred.jpeg" class="card-img-top" alt="Los Angeles Skyscrapers" height="175">
      <div class="card-body">
        <h3 class="card-title">Disease prediction</h3>
          <p class="card-text">Plant disease prediction using image processing is an innovative approach to diagnose and identify diseases in plants. It involves the use of computer vision techniques and machine learning algorithms to analyze images of plant leaves or other parts and detect signs of diseases or abnormalities.</p>
         
       </div>
   </div>
</div>
</div>
<br><br><br><br>

<section id="contact">
<center><h2>CONTACT-US</h2></center>
 <div class="rt-container">
      <div class="col-rt-12">
          <div class="Scriptcontent">
           <div>
              <div class="container">
                  <div class="contact-parent">
                      <div class="contact-child child1">
                      </div>
                      <div class="contact-child child2">
                          <div class="inside-contact">
                              <h2>Contact Us</h2>
                              <h3><span id="confirm">
                              <p style="text-align: left;">Name *</p>
                              <input id="txt_name"  type="text"   required="required">
                              <p style="text-align: left;">Email *</p>
                              <input id="txt_email" type="text"   required="required">
                              <p style="text-align: left;">Phone *</p>
                              <input id="txt_phone" type="text"   required="required">
                              <p style="text-align: left;">Subject *</p>
                              <input id="txt_subject" type="text"  required="required">
                              <p style="text-align: left;">Message *</p>
                              <textarea id="txt_message" rows="4" cols="20" required="required"></textarea>
                              <input type="submit" id="btn_send" value="SEND"></span></h3>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
</section>


<p><a href="#" class="simple-back-to-top"></a></p>
<script type="text/javascript">
// create the back to top button
	$('body').prepend('<a href="#" class="back-to-top">Back to Top</a>');
	var amountScrolled = 300;
	$(window).scroll(function() {
		if ( $(window).scrollTop() > amountScrolled ) {
			$('a.back-to-top').fadeIn('slow');
		} else {
			$('a.back-to-top').fadeOut('slow');
		}
	});
	
	$('a.back-to-top, a.simple-back-to-top').click(function() {
		$('html, body').animate({
			scrollTop: 0
		}, 700);
		return false;
	});
	</script>

<hr>
                    <section class="footers bg-light">
                    <div class="container-fluid">
                    <div class="row">&nbsp &nbsp &nbsp  &nbsp &nbsp 
                    <div class="col-xs-12 col-sm-6 col-md-4 footers-one">
                    <h3 class="underline-small">Wow Factors</h3>
                    <div class="footers-info mt-3" >
                    <p>
                    <ul>
                      <li>Comprehensive Feature set</li>
                      <li>Advanced Technology Integration</li>
                      <li>Personalized Recommendations</li>
                      <li>Community Knowledge and sharing</li>
                      <li>Germanification and Rewards</li>
                    </ul>
                    </p>
</div>
                    <div class="social-icons"> 
                    <a href=""><i id="social-fb" class="fa fa-facebook fa-2x social"></i></a>
                    <a href=""><i id="social-tw" class="fa fa-twitter fa-2x social"></i></a>
                    <a href=""><i id="social-gp" class="fa fa-instagram fa-2x social"></i></a>
                    <a href=""><i id="social-em" class="fa fa-envelope fa-2x social"></i></a>
</div>
</div>
&nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp 
                    <div class="col-xs-12 col-sm-6 col-md-2 footers-two">
                    <h3 class="underline-small">services</h3>
                    <ul class="list-unstyled">
                    <li><a href=""></a>Community Engagement</li>
                    <li><a href=""></a>Marketplace for farming products</li>
                    <li><a href=""></a>Customer care services</li>
                    <li><a href=""></a>Disease predictions</li>
                    <li><a href=""></a>Soil Score</li>
</ul>
</div>
&nbsp &nbsp &nbsp   
                    <div class="col-xs-12 col-sm-6 col-md-2 footers-four">
                    <h3 class="underline-small">Our Vision </h3>
                    <div class="footers-info mt-3">
                    <p>
                    <b></b> Our vision is an innovative and comprehensive agricultural assistance platform designed to empower farmers with the toolsand knowledge. By addressing the identified challenges, improves disease prevention and management and provides robust customer care.<br><br>
                    </p>
</div>
</div>

&nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp 

                    <div class="col-xs-12 col-sm-6 col-md-2 footers-five">
                    <h3 class="underline-small">Get In Touch</h3>
                    <p>AGRI-ASSISTANT</p>
                    <p><i class="fa fa-phone"></i> 000-1234-000</p>
                    <p><i class="fa fa fa-envelope"></i>agriasistant@gmail.com</p>
                    <p class="adminlogin"><a href="#"><i class="fa fa-address-card" aria-hidden="true"></i> admin login</a></p>
</div>
</div>
</div>
                    <hr>
                    
                   <center><p class="copyright">© 2023 Copyright: Design by the code Busters</p></center>

</section>


                    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
                    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
                    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</body>
</html>
        
