<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <div class="textBox">
            <img src="Crop2.jpg" alt="">
        </div>
        <h2>Login Form</h2>
        <form>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            
            <button type="submit" value="Login"><a href="C:\Users\lenovo\AppData\Local\Programs\Python\Python310\Tomato_Leaf_Disease_Prediction\templates\profile.html">Login</a></button>
        </form>
    </div>
</body>
</html>
