@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
body {
	background: #f9f9f9;
	font-family: "Roboto", sans-serif;
}

.shadow {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
}

.profile-tab-nav {
	min-width: 250px;
}

.tab-content {
	flex: 1;
}

.form-group {
	margin-bottom: 1.5rem;
}

.nav-pills a.nav-link {
	padding: 15px 20px;
	border-bottom: 1px solid #ddd;
	border-radius: 0;
	color: #333;
}
.nav-pills a.nav-link i {
	width: 20px;
}

.img-circle img {
	height: 100px;
	width: 100px;
	border-radius: 100%;
	border: 5px solid #fff;
}

.post-form {
	max-width: 1000px;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;

  }

  .post-form label {
	display: block;
	margin-bottom: 10px;
  }

  .post-form input[type="file"],
  .post-form input[type="text"],
  .post-form textarea {
	width: 100%;
	padding: 8px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 5px;
  }

  .post-form button {
	padding: 10px 20px;
	background-color: #5e8cbe;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  }

  .post-form button:hover {
	background-color: #5485b9;
  }

  .post-form .options {
	display: flex;
	justify-content: space-between;
  }

  .post-form .option {
	flex: 1;
	margin-right: 10px;
  }